@model Dominio.Core.Entities.Alumno

@{
    ViewBag.Title = "RegistrarAlu";
}

<head>
    <link href="~/css/login.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/login/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/js/login/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/login/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="~/js/login/login.js"></script>
</head>

@using (Html.BeginForm())
{
<body>
    <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span6 middle">
                <div id="register-wraper">
                    <form id="register-form" class="form">
                        <h2>Registro de Usuario</h2>
                        <div class="body">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.NombreUsu, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("NombreUsu")
                                    @Html.ValidationMessageFor(model => model.NombreUsu)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ApellidoUsu, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("ApellidoUsu")
                                    @Html.ValidationMessageFor(model => model.ApellidoUsu)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CorreoUsu, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("CorreoUsu")
                                    @Html.ValidationMessageFor(model => model.CorreoUsu)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PwdUsu, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Password("PwdUsu")
                                    @Html.ValidationMessageFor(model => model.PwdUsu)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Registrar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
}